---
layout: home
---
<div class="profile">
	<div class="profile-main">
		<div class="top">
			<span class="name">{{ site.author }}</span>，<span class="bio" title="http://zhaoyuxiang.cn"><a class=" external" rel="nofollow noreferrer" target="_blank" href="{{ site.url }}">{{ site.url }}</a></span>
		</div>
		<div class="body clearfix">
			<div class="profile-avatar"><img src="{{ "/assets/avatar.jpg" | prepend: site.baseurl }}" alt="{{ site.author }}" /></div>
			<div class="profile-info-wrap">
				<div class="profile-info">
					<div class="items">
						<div class="place-domain-sex">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span class="place">{{ site.place }}</span>
							<span class="domain">{{ site.domain }}</span>
							<span class="sex"><i class="fa fa-mars" aria-hidden="true"></i></span>
						</div>
						<div class="company-position">
							<i class="fa fa-suitcase" aria-hidden="true"></i>
							<span class="company">{{ site.company }}</span>
							<span class="position">{{ site.position }}</span>
						</div>
						<div class="school-major">
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
							<span class="school">{{ site.school }}</span>
							<span class="major">{{ site.major }}</span>
						</div>
						{% if site.resume %}
						<div class="resume"><a href="{{ site.resume}}" target="_blank"><i class="fa fa-arrow-right" aria-hidden="true"></i><span>My resume</span></a></div>
						{% endif %}
					</div>
					<div class="description">{{ site.profile}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="profile-navbar clearfix">
		<a href="{{ "/home" | prepend: site.baseurl }}"><i class="fa fa-home" aria-hidden="true"></i></a>
		<a href="{{ "/index.html" | prepend: site.baseurl }}" target="_blank">Blog<span>{{ site.posts.size }}</span></a>
		<a href="{{ "/about" | prepend: site.baseurl }}" target="_blank">About</a>
	</div>
</div>

<div class="home-category">
  <h1 class="page-heading">Category</h1>

  <ul class="post-list">

{% capture categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category = categories | split:',' | sort %}
{% for item in (0..site.categories.size) %}{% unless forloop.last %}
{% capture word %}{{ category[item] | strip_newlines }}{% endcapture %}
<h2 class="category" id="{{ word }}">{{ word | upcase }}</h2>
<ul>
{% for post in site.categories[word] %}{% if post.title != null %}
<li><span>{{ post.date | date: "%b %d, %Y" }}</span> » <a href="{{ site.baseurl}}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
{% endif %}{% endfor %}
</ul>
{% endunless %}{% endfor %}

  </ul>
  
</div>