	</main>
	<footer>
		<div class="footer-inner">
			<span class="myFont">Copyright &copy; 2016 <a href="http://zhaoyuxiang.cn">{{ site.author }}</a></span>
			<ul>
				<li><a href="{{ "/home" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">Home</a></li>
				<li><a href="{{ "/index" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">Blog</a></li>
				<li><a href="{{ "/about" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">About</a></li>
				<li><a href="javascript:scroll(0,0)" class="myFont css2dcc4b9955748">Top</a></li>
			</ul>
		</div>
	</footer>
	<!--返回顶部按钮-->
	<div class="go-top">
        <div class="arrow"></div>
        <div class="stick"></div>
    </div>