  <header id="header">
    <div class="headerWrap clearfix">
      <a class="myFont title css2dcc4b9955748" href="{{ "/home" | prepend: site.baseurl }}">{{ site.title }}</a>

      <nav>
        <ul>
          <li><a href="{{ "/home" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">Home</a></li>
          <li><a href="{{ "/index" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">Blog</a></li>
          <li><a href="{{ "/about" | prepend: site.baseurl }}" class="myFont css2dcc4b9955748">About</a></li>
        </ul>
      </nav>

<div class="search-tool" style="float: left;height: 45px;line-height: 45px;margin-left: 12px;">
    <input type="text" class="form-control search-content" id="search-content" style="display: inline-block !important; 
    color: #49525c;
    font-size: 14px;
    line-height: 17px;
    background-color: #e1eaf2;
    border: 1px solid #045bb2;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
    outline: 0;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;" placeholder="Search for what you are interested in...." />
</div>

<link rel="stylesheet" href="{{ "/search/css/cb-search.css" | prepend: site.baseurl }}">

<script src="{{ "/search/js/bootstrap3-typeahead.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/search/js/cb-search.js" | prepend: site.baseurl }}"></script>

      <a href="{{ site.resume }}" class="master">
        <div class="avatarWrap">
          <img src="{{ "/assets/avatar.jpg" | prepend: site.baseurl }}" alt="{{ site.author }}" style="max-width: 27px;" />
        </div><span class="myFont css2dcc4b9955748">{{ site.author }}</span>
      </a>
    </div>
  </header>

  <main class="clearfix">
    <div class="content">
      <div class="content-inner">